* {
  margin:0px;
  padding: 0px;
}

html, body {
  height: 100vh;
  width: 100vw;
  font-size: 2.5vh;
  line-height: 4.5vh;
  background-color: rgb(44, 2, 53);
  color:white;
  overflow: hidden;
}

header {
 height: 9vh;
 width: 100vw;
}

main {
  height: 91vh;
  width: 100vw;
}

.indexBody {
  color: white;
}

a {
  text-decoration: none;
}

img {
  width:100%;
  height:100%;
}

ul {
  list-style: none; 
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.homepage {
  background-color: orangered;
  font-style: bolder;
}

li:first-child{
  margin-right:auto;
}

li {
  padding: 3vh;
  margin-left: 1vh;
}

.level {
  background-color: rgb(4, 102, 73);
  border-radius: 2vh 0px;
}

.counter {
  background-color: orangered;
  border-radius: 2vh 0px;
}

.coins {
  background-color: rgb(170, 170, 8);
  border-radius: 2vh 0px;
}

.goal {
  background: rgb(116, 2, 110);
  border-radius: 2vh 0px;
}

.coinsImg {
 width: 2vh;
}

.display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.display .intro {
  height: 50vh;
}

.display h3 {
 color:yellow;
}

.display a button {
  background-color: darkgreen;
  padding:2vh;
  color: white;
  font-size: bolder;
  border:0.5vh solid;
  border-color: yellow;
  border-radius:3vh 0px;
}

.display a button:focus {
  outline: none;
}

#gameBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}

#gamePlay {
  padding-top: 10vh;
  width: 80vw;
  height: 40vh;
  font-size: 2.5vh;
  color: yellow;
}

#gamePlay img {
  border: 0.5vh solid orange;
}

.dashboard {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
  padding-top: 20vh;
}

.dashboard div {
  padding-top: 1vh;
  padding-bottom: 1vh;
  padding-left: 10vh;
  padding-right: 10vh;
  border: 0.5vh solid yellow;
}

.g-board {
  display: grid;
  grid-template-columns: 27% 27% 27%;
  grid-row-gap: 2vh;
  grid-column-gap: 2vh;
  text-align: center;
  justify-content: space-evenly;
  padding-top: 5vh;
  padding-left: auto;
  padding-right: auto;
}
  
.g-board div {
  background: grey;
  width: auto;
  height: 11vh;
  border: 0.5vh solid orange;
}

#shuffle {
  background-color: orangered;
  display: none;
}

#play {
  background-color: orangered;
}

#help {
  background-color: darkgreen;
}

#yes {
  background-color: green;
  color: white;
  font-size: bolder;
  padding-top: 2vh;
  padding-bottom: 2vh;
  padding-left: 10vh;
  padding-right: 10vh;
}

#try {
  padding-bottom: 10px;
}

#yes:focus {
  outline: none;
}

#no {
  background-color: red;
  color: white;
  font-size: bolder;
  padding-top: 2vh;
  padding-bottom: 2vh;
  padding-left: 10vh;
  padding-right: 10vh;
}

#no:focus {
  outline: none;
}

@media (max-width: 991.98px) {

}
