* {
  margin:0px;
  padding: 0px;
}

html, body {
  min-height: 100vh;
  min-width: 100vw;
  font-size: 2.5vh;
  line-height: 4.5vh;
  background-color: rgb(44, 2, 53);
  color:white;
  overflow: hidden;
}

.indexBody {
  color: white;
}

a {
  text-decoration: none;
  color:yellow;
}

img {
  width:100%;
  height:100%;
}

ul {
  list-style: none; 
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.homepage {
  background-color: orangered;
  font-weight: bolder;
}

li {
  padding: 2vh;
  margin-left: 0vh;
}

.gameHeader li {
  font-size: 2vh;
  font-weight: bolder;
}

.gameHeader li a {
  color: white;
}

.gImage {
  background-color: pink;
  color: black;
  font-weight: bolder;
}

.level {
  background-color: rgb(4, 102, 73);
}

.counter {
  background-color: orangered;
}

.score {
  background-color: white;
  color: black;
}

.goal {
  background: rgb(116, 2, 110);
}

.display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.display .intro {
  height: 50vh;
}

.display h3 {
 color:yellow;
}

.display a button {
  background-color: darkgreen;
  padding:2vh;
  color: white;
  font-size: bolder;
  border:0.5vh solid;
  border-color: yellow;
  border-radius:3vh 0px;
}

.display a button:focus {
  outline: none;
}

#gameBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}

#gamePlay {
  padding-top: 10vh;
  padding-left: 0vh;
  padding-right: 6vh;
  width: 80vw;
  height: 30vh;
  font-size: 2.5vh;
  color: yellow;
}

#gamePlay .div {
  background-color: pink;
  color: black;
  font-size: 10vh;
  padding-top: 10vh;
  padding-bottom: 10vh;
}

#gamePlay img {
  border: 0.5vh solid orange;
}

.dashboard {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
  padding-top: 20vh;
}

.dashboard div {
  padding-top: 1vh;
  padding-bottom: 1vh;
  padding-left: 3vh;
  padding-right: 3vh;
  border: 0.5vh solid yellow;
}

.g-board {
  display: grid;
  grid-template-columns: 27% 27% 27%;
  grid-row-gap: 2vh;
  grid-column-gap: 2vh;
  text-align: center;
  justify-content: space-evenly;
  padding-top: 3vh;
  padding-left: auto;
  padding-right: auto;
}
  
.g-board div {
  background: grey;
  height: 11vh; 
  width: 20vw;
  border: 0.5vh solid orange;
}

.g-board div > div {
  text-align: center;
  width: 20vw;
  background-color: #A54C00;
  font-weight: bolder;
  padding-bottom: 1vh;
  border: 1px solid pink;
}

#shuffle {
  background-color: orangered;
  display: none;
}

#play {
  background-color: orangered;
}

#sound {
  background-color: darkgreen;
  display: none;
}

#yes {
  background-color: green;
  color: white;
  font-weight: bolder;
  padding-top: 2vh;
  padding-bottom: 2vh;
  padding-left: 8vh;
  padding-right: 8vh;
}

#try {
  padding-bottom: 10px;
}

#yes:focus {
  outline: none;
}

#no {
  background-color: red;
  color: white;
  font-weight: bolder;
  padding-top: 2vh;
  padding-bottom: 2vh;
  padding-left: 8vh;
  padding-right: 8vh;
  margin-left: 1vh;
}

#no:focus {
  outline: none;
}

@media (min-width: 1199.98px) { 
  li {
    padding: 2.5vh;
    padding-left: 6vh;
    padding-right: 6vh;
    padding-bottom: 1vh;
    margin-left: 0vh;
  }

  #gImage{
    height: 9vh;
  }
  
  .gameHeader li {
    font-size: 2vh;
    font-weight: bold;
  }
  
  #gamePlay {
    width: 30vw;
    height: 45vh;
  }
  
  .g-board {
    display: grid;
    grid-template-columns: 12% 12% 12%;
    grid-row-gap: 2vh;
    grid-column-gap: 5vh;
  }

  .g-board div {
    width: 12vw
  }
  
  .g-board div > div {
    width: 12vw;
  }
}
